<nav id="bottom_navbar" class="navbar navbar-dark bg-dark">

	<div class="container">

	<div style="color: #D0D3D6  ;">
		
	<h6>© 2018 Satvik Solutions | All Rights Reserved</h6>

	</div style="float: right;">
	<ul>
		<p style="color:#D0D3D6 ">Connect Us:</p>
		 <i id="icon" class="fa fa-facebook-square" aria-hidden="true"><a id="fb" href="https://www.facebook.com/">Facebook</a></i>

		 <br>
		
	 <i id="icon" class="fa fa-instagram" aria-hidden="true"><a id="insta" href="/">Instagram</a></i>


	</ul>


	</div>
  
</nav>

</body>
</html>