<% include partials/header %>


<script type="text/javascript">
	var dark = document.getElementById("active_services");
     dark.setAttribute("class", "nav-item active dropdown");

</script>



<div class="jumbotron">
<div class="container">
	<div style="text-align: center;">
<h1 style="margin-top: 2em;" >Renalin® 100 Cold Sterilant</h1>


	<img src="http://www.medivators.com/sites/default/files/styles/product_new_280/public/Renalin-grn_jug_1.jpg?itok=w7J0SVz9">

	<p style="margin-top: 2em;">
		<strong>Renalin® 100 Cold Sterilant</strong>
		<br>
		For dialyzer reprocessing with the Renatron 100 Series system. Each green jug holds ten liters of Renalin 100 concentrate. To prevent excessive pressure build-up, all concentrate containers are provided with vented caps. These caps should not be altered or replaced. All boxes must be stored in an upright position. Renalin 100 comes with two 10-liter containers per case.
	</p>

</div>


	<div class="container">
		<p>
	  <button class="btn btn-outline-info btn-lg" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Product Details</button>

 
  <button class="btn btn-outline-success btn-lg " type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Order Now</button>

</p>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
         <h5><strong>Features:-</strong></h5>
     <ul>
    	<li>66% less storage space</li>
    	<li>No Pre-dilution</li>
        <li>Reduces Reprocessing Waste</li>
        <li>Uses renalin cold reprocessing and sanitization</li>
    </ul>
     <p>
   	Renalin 100 Cold Sterilant, the packaging solution for increasing your reprocessing efficiency. Renalin 100 offers the same proven performance and cleaning and sterilization power of traditional Renalin Cold Sterilant in a convenient package that requires no manual dilution and uses minimal storage space.
   	<br>

<strong> Minimizes Storage Space:</strong> Renalin 100 packaging reduces the storage space required for traditional Renalin packaging by 66%. Renalin 100 is shipped in two 10-liter containers per case, enabling you to order less frequently and/or order smaller quantities.<br>

<strong>Environmentally Friendly:</strong> Less packaging and container bulk translates to a significant reduction in reprocessing waste for your center.<br>


<strong>Efficient and Cost-Effective:</strong> Traditional Renalin Cold Sterilant has a maximum seven-day shelf life after pre-dilution. Renalin 100 is designed to be automatically diluted by a Renatron that has been converted to a Renatron 100 series. The benefits include:
<ul>
	<li>No labor and resources spent pre-diluting Renalin</li>
	<li>Minimized exposure to Renalin Cold Sterilant Concentrate</li>
<li>Full product shelf life (No pre-dilution eliminates the seven day expiration)</li>
</ul>
   </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
 

 <form>

 	<div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control"  placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput2">Email address</label>
    <input type="email" class="form-control"  placeholder="email">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput3">Contact Number</label>
    <input type="text" class="form-control"  placeholder="contact no.">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Units</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description of the Order</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>


      </div>
    </div>
  </div>
</div>
</div>

</div>







<% include partials/footer %>