<% include partials/header %>

<script type="text/javascript">
	var dark = document.getElementById("active_services");
     dark.setAttribute("class", "nav-item active dropdown");

</script>


<div class="jumbotron">
	<div class="container">
		<div style="text-align: center;">
<h1 style="margin-top: 2em;">Sandor Renatron Dialyser Reprocessing Machine</h1>


	<img src="https://4.imimg.com/data4/RI/AB/ETO-995945/renatron-dialyser-reprocessing-machine-500x500.jpg">

	<p style="margin-top: 2em;">
		<strong>Sandor Renatron Dialyser Reprocessing Machine</strong>
		<br>
		Price: Rs 5.72 Lakh/pack
	</p>
</div>
</div>
<div class="container">
	<p>
	  <button class="btn btn-outline-info btn-lg" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Product Details</button>

 
  <button class="btn btn-outline-success btn-lg " type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Order Now</button>
</p>

<div class="row">
	<div class="col">
	<div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card card-body">
    <h5><strong>Product Description:-</strong></h5>
    <ul>
    	<li>Modular data base controlled system accommodates from one to six station</li>
    	<li>Renalog data management software</li>
        <li>Easy to use bar code for quick automatic renatron programming for each patient's dialyzer</li>
        <li>Uses renalin cold reprocessing and sanitization</li>
        <li>Automated Reprocessing Cycle</li>
        <li>Venous Line Clamp-Secures the venous outlet line</li>
    </ul>
    <h5><strong>Product Specification:-</strong></h5>
    <ul>
    	<li><strong>Voltage :</strong> 100-120 VAC</li>
<li><strong>Brand Name :</strong> Sandor</li>
<li><strong>Pressure :</strong> Input: 138-379.3 kpa</li>
<li><strong>Temperature :</strong> 15-24 deg C</li>
<li><strong>Item Weight :</strong> Renatron II System: 22.7 kg</li>
<ul>
<li>Interface module: 2.6 kg</li>
<li>Printer: 8.5 kg</li>
<li>Monitor: 15 kg</li>
</ul>
<li><strong>Number Of Items :</strong> 1</li>
<li><strong>Power :</strong> 50/60 HZ</li>
<li><strong>Renatron II:</strong> 460 watt</li>
<li><strong>Current :</strong> Renatron II: 4 Amp</li>
<li><strong>Flow Rate :</strong> Avarage: 1.75 liters</li>
    </ul>
  </div>
</div>

</div>

 <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
 

 <form>

 	<div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control"  placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput2">Email address</label>
    <input type="email" class="form-control"  placeholder="email">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput3">Contact Number</label>
    <input type="text" class="form-control"  placeholder="contact no.">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Units</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description of the Order</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>


      </div>
    </div>
  </div>

  </div>
</div>
</div>
<% include partials/footer %>